@function darkenBorder($color) {
    @return darken ($color, 20%);
}
@function getFontColor($bgColor){
    @if(lightness(bgColor)> 50%){
        @return $dark;
    }@else {
        @return $white;
    }
}

.btn {
    margin-right: 5px;
    padding: 15px 20px;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px;
    transition: all ease 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

    &.btn-primary {
        background-color: $primary;
        border-color: darkenBorder($primary);
        color: $white;

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        border-color: darkenBorder($secondary);
        color: black;

        &:hover {
            background-color: $white;
            color: $color;
        }
    }
}


 @each $name, $color in $colors {
        &.btn-#{$name} {
        background-color: color;
        border-color: darkenBorder($color);
        color: getFontColor($color);

             &:hover {
                $bg-hover:lighten(color, 10%);
                background-color:$bg-hover;
                color: getFontColor($bg-hover);
            }
        }
}


