$primary: #55198b;
$secondary: #aaa5ff;
$gray: #868e96;
$lightgray: #f3efef;
$dark: #171c28;
$white: #ffffff;
$accent: #fec131;
 
$blue: #007bff;
$grey: #6c757d;
$green: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$light: #f8f9fa;
$darklight: #343a40;
